.heroimgone-container {
    width: 100%;
    height: 80vh;
    background: url("../public/img/orangeblue.jpeg");
  }
  
  .heroimgone-text {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 3.3em;
    text-shadow: 2px 2px black;
  }
  
  .heroimgtwo {
   background: url("../public/img/kk.jpeg");
    height: 80vh;
    width: 100%;
   
  }
  .heroimgtwo-text {
      text-align: center;
      color: white;
      font-size: 2rem;
      padding-top: 3.3em;
      text-shadow: 2px 2px black;
    }
  
  .heroimgthree {
      background: url("../public/img/orangecent.jpeg");
    height: 80vh;
    width: 100%;
    
  }
  .heroimgthree-text {
      text-align: center;
      color: white;
      font-size: 2rem;
      padding-top: 3em;
      text-shadow: 2px 2px black;
      
   
    }
  