* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

@import './Components/Partials/SliderStyle1';

@import './Components/Partials/SliderStyle2';

@import './Components/Partials/SliderStyle3'